<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container mx-auto">
        <div class="hero">
            <div class="hero-content text-center">
                <div class="max-w-md mx-auto">
                    <h1 class="text-4xl md:text-5xl font-bold">About</h1>
                    <p class="py-6">Welcome to my About me!</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4 md:p-8">
            <div>
                <img src="img/cat.jpg" alt="My Cat" class="w-full" style="width: 50%; height: auto;">
            </div>
            <div>
                <p>Hi, my name is Phil Sajdak and I like coding! I'm currently in my third semester taking courses like WEB and OOP. My hobbies include hiking and camping.</p>
            </div>
        </div>
    </div>
</body>
</html>
